@using System.Collections

<div class="inspector">
  <div class="buttons">
    <Button EnabledClickCallback="Reset" Disabled="@(Object == BaseObject)">Reset</Button>
    <Button EnabledClickCallback="Back" Disabled="@(_history.Count == 0)">Back</Button>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
      <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var (propertyName, (propertyObject, propertyType, isPropertyBasic)) in _properties)
      {
        <tr>
          <td>
            <code>
              @propertyName
            </code>
          </td>
          <td>
            <code>
              @propertyType
            </code>
          </td>
          <td>
            <code>
              @if (!isPropertyBasic)
              {
                <a @onclick="@(() => Object = propertyObject ?? Object)">
                  @(propertyObject?.ToString() ?? "null")
                </a>
              }
              else
              {
                <span>
                  @(propertyObject?.ToString() ?? "null")
                </span>
              }
            </code>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>

  @if (_contents is not null)
  {
    <div class="table-container">
      <table class="table">
        <thead>
        <tr>
          <th>Contents</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (childObject, childType, isChildBasic) in _contents)
        {
          <tr>
            <td>
              <code>
                @childType
              </code>:
              <code>
                @if (!isChildBasic)
                {
                  <a @onclick="@(() => Object = childObject ?? Object)">
                    @(childObject?.ToString() ?? "null")
                  </a>
                }
                else
                {
                  <span>
                    @(childObject?.ToString() ?? "null")
                  </span>
                }
              </code>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  }
</div>
