<div class="inspector">
  <div class="buttons">
    <Button EnabledClickCallback="Reset" Disabled="@(Object == BaseObject)">Reset</Button>
    <Button EnabledClickCallback="Back" Disabled="@(_history.Count == 0)">Back</Button>
  </div>

  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      @if (_properties.Count == 0)
      {
        <tr>
          <td colspan="3">
            No properties
          </td>
        </tr>
      }
      else
      {
        @foreach (var (propertyName, (propertyObject, propertyType, isPropertyBasic)) in _properties)
        {
          <tr>
            <td>
              <code>
                @propertyName
              </code>
            </td>
            <td>
              <code>
                @propertyType
              </code>
            </td>
            <td>
              <code>
                @if (!isPropertyBasic)
                {
                  <a @onclick="@(() => Object = propertyObject ?? Object)">
                    @LinkString(propertyObject)
                  </a>
                }
                else
                {
                  <span>
                    @LinkString(propertyObject)
                  </span>
                }
              </code>
            </td>
          </tr>
        }
      }
      </tbody>
    </table>
  </div>

  @if (_contents is not null)
  {
    <div class="table-container">
      <table class="table is-fullwidth">
        <thead>
        <tr>
          <th>Contents</th>
        </tr>
        </thead>
        <tbody>
        @if (_contents.Count == 0)
        {
          <tr>
            <td>
              No contents
            </td>
          </tr>
        }
        else
        {
          @foreach (var (childObject, childType, isChildBasic) in _contents)
          {
            <tr>
              <td>
                <code>
                  @childType
                </code>:
                <code>
                  @if (!isChildBasic)
                  {
                    <a @onclick="@(() => Object = childObject ?? Object)">
                      @LinkString(childObject)
                    </a>
                  }
                  else
                  {
                    <span>
                      @LinkString(childObject)
                    </span>
                  }
                </code>
              </td>
            </tr>
          }
        }
        </tbody>
      </table>
    </div>
  }
</div>
